


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: 2px;
}

.delete{
  cursor: pointer;
  color: #e15639;
}
.edit{
  cursor: pointer;
  color: #1878b0;
}
.search{
  cursor: pointer;
}


