.mat-mdc-form-field {
  font-size: 14px;
}

.back-action {
  background: var(--color-primary) !important;
  color: white !important;
}

.delete {
  cursor: pointer;
  color: var(--color-delete);
}

.edit {
  cursor: pointer;
  color: var(--color-edit);
}

.search {
  cursor: pointer;
  color: var(--color-view);
}
